<div class="list">
    <h1>Orders</h1>

    <table>
        <tr>
            <th>OrderId</th>
            <th>Status</th>
            <th>Amount</th>
        </tr>
        {{#each actions}}
        <tr>
            <td>{{OrderId}}</td>
            <td>{{Status}}</td>
            <td>{{Amount}}</td>
        </tr>
        {{/each}}

    </table>
</div>