body {
	background-color: #CAF0F8;

}

.container {
	margin: auto;
	background-color: honeydew;
	width: 80%;
	padding: 1em;
}

.container h1 {
	text-align: center;
}

 .amaPizza {
	display: flex;
	/* flex-wrap: wrap; */
  }

/* .amaPizza {
	display: flex;
} */
/* .container h1{
	
}

.main {
 background-color: lawngreen;

} 

.pizzza {
	display: flex;
} */
/* /* 
.Large {
	background-color: chocolate;
	margin-left: 2%
	 ;
}

.Meduim {
	background-color: yellow;
	margin-left: 2%
}

.Small{
	background-color: darkgreen;
	margin-left: 2%
}  */
/*  */


 /* .counter {
	background-color: lightgray;
	font-size: 2em;
	width: 3em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.25em;
} /* */